<main>
    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #16433</h5>
            <p class="text-bg-secondary">USB hab Type C 12 in 1 HDMI <br>VGA AUX 3.5 mm</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="card text-bg-primary">
        <div class="card-header">
            <h5>Menu</h5>
        </div>

        <ul class="list-group list-group-flush ">
            <li class="list-group-item text-bg-warning">
                <a href=" #" class="btn btn-link"> Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link"> Summary page</a>
            </li>
            <li class="list-group-item text-bg-danger">
                <a href="#" class="btn btn-link"> Skills page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Ivan</td>
                <td>45</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Ivan</td>
                <td>41</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <div class="card ">
        <div class="card-header text-center text-bg-success">Header</div>
        <div class="card-body text-center text-bg-warning">
            <h6 class="card-title">This is title</h6>

            <p> This is contetnt of our box</p>
            <button class="btn btn-light text-bg-primary">Click!</button>
            <br>
            <div class="card-footer text-center text-bg-danger">Footer</div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="row g-2">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-bg-success">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">This is title</h6>

                    <p> This is contetnt of our box</p>
                    <button class="btn btn-light text-bg-primary">Click!</button>
                    <br>
                    <div class="card-footer text-center text-bg-danger">Footer</div>
                </div>
            </div>
        </div>
    </div>

</main>