{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="col-2 p-5">
    <div>
    <a href="/bio" class="btn btn-primary">Біографія</a>
    </div>
    <br>
    <div>
    <a href="/shopcatalog" class="btn btn-primary">Каталог</a>
    </div>
    <br>
    <div>
    <a href="/shophome" class="btn btn-primary">Початкова</a>
    </div>
    <br>
    <div>
    <a href="/shoporder" class="btn btn-primary">Оформлення</a>
    </div>
    <br>
    <div>
        <a href="/shopprofile" class="btn btn-primary">Мої замовлення</a>
    </div>
    <br>
    <div>
        <a href="/bootstrap" class="btn btn-primary">Бутстреп</a>
    </div>
    <br>
    <div>
        <a href="/bootstrap_old" class="btn btn-primary">Бутстреп-2</a>
    </div>
    <br>
    <div>
        <a href="/facebook" class="btn btn-primary">Фейсбук</a>
    </div>
    <br>
    <div>
        <a href="/task21" class="btn btn-primary">JavaScript</a>
    </div>
</div>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}